{% extends "base.html" %}
{% load static %}
{% block body %}
<!-- heading -->
<div class="topper container-sm">
  <h1>OUR MENU</h1>
</div>
<br>
<!-- card -->
<div class="container-sm">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card h-100" style="width: 18rem;">
        <img src="{% static 'img/starters.jpg' %}" class="card-img-top" alt="A food starter image">
        <div class="card-body">
          <h5 class="card-title">Starters</h5>
          <p class="card-text">-Punjabi Samosas</p>
          <p class="card-text">-Red Pepper Pakoras</p>
          <p class="card-text">-Aloo Bonda</p>
          <p class="card-text">-Poppadoms</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card h-100" style="width: 18rem;">
        <img src="{% static 'img/staples.jpg'%}" class="card-img-top" alt="A plate of chappathi">
        <div class="card-body">
          <h5 class="card-title">Daily Staples</h5>
          <p class="card-text">- Basmati Rice</p>
          <p class="card-text">- Chappathi</p>
          <p class="card-text">- Masala Fried Potatoes</p>
          <p class="card-text">- Paratha</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card h-100" style="width: 18rem;">
        <img src="{% static 'img/dhabas.jpg' %}" class="card-img-top" alt="A plate of chappathi">
        <div class="card-body">
          <h5 class="card-title">Everyday Dhaba</h5>
          <p class="card-text">- Kerala Nandan Chicken</p>
          <p class="card-text">- Goan Masala</p>
          <p class="card-text">- Pumpkin And Coconut Olan</p>
          <p class="card-text">- Punjabi Paneer</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card h-100" style="width: 18rem;">
        <img src="{% static 'img/gulab.jpg' %}" class="card-img-top" alt="A plate with three gulab jamuns ">
        <div class="card-body">
          <h5 class="card-title">Sweets</h5>
          <p class="card-text">- Gulab Jamun</p>
          <p class="card-text">- Raw chocolate cheese cake</p>
          <p class="card-text">- Dougnuts</p>
          <p class="card-text">- Lassi</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}