{% extends 'base.html' %}
{% block body %}
<div>
    <div class="container-sm topper">
        <h2>My Booking Details</h2>
        <button class="btn btn-info justify-content-end"> <a href="{% url 'booking' %}">Add a Booking</a></button>
    </div>
    <!-- error message -->
    <div class="container-sm">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <!-- booked details -->
    {% if bookings %}
    {% for booking in bookings %}
    <div class="container-sm border border-success p-2 mb-2">
        <p><strong>Date:</strong> {{ booking.date }}</p>
        <p><strong>Time:</strong> {{ booking.time }}</p>
        <p><strong>Number of guests:</strong> {{ booking.number_of_guests }}</p>
        <p><strong>Special request:</strong> {{ booking.special_request }}</p>
        <button class="btn btn-warning"><a href="{% url 'edit_booking' booking.id %}">Edit</a></button>
    </div>
    {% endfor %}
    {% else %}
    <p>No booking details found.</p>
    {% endif %}
</div>
{% endblock %}