{% extends "base.html" %}

{% block body %}
<div class="topper container-sm">
    <h2>Register</h2>
<p>Welcome to Thali Restaurant!!.Inorder to book a table,please register here.</p>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
</div>
<div class="container-sm">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}"><strong>Log In here.</strong></a>
</div>
{% endblock %}